{% extends "admin.html.twig" %}
{% block title %}
    Admin Page - Category
{% endblock %}
{% block body %}
      <div className="page-heading pb-2 mt-4 mb-2 ">
                <h3>Manager</h3> <a href="{{path('category_show')}}"><button type="button" class="btn btn-outline-primary">Back to index</button></a>
            </div>
            <div class="page-content mt-4">
                <div class="card">
                    <div class="card-content">
                        <div class="card-body">
                            {# <form class="form form-vertical" method="POST" action="#"> #}
                            {{ form_start(form,{'attr':{'class':'form form-vertical'}} ) }}
                                <div class="form-body">
                                    <div class="row">
                                    
                                        <div class="col-12">
                                            <div class="form-group">
                                                <label for="first-name-vertical">Category Name</label>
                                                {{ form_widget(form.name, {'attr':{'placeholder':'Category Name'}}) }}
                                            </div>
                                        </div>
                                        
                                    </div>
                                </div>
                            {# </form> #}
                            {{ form_end(form) }}
                        </div> <!--card body-->
                    
                    </div> <!--card content-->
                </div> <!--card-->
            </div><!--page content-->
{% endblock %}
